.articles-graph {
    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__controller {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__progress {
        width: 65px;
        text-align: center;
        position: relative;
        top: -2px;
    }
}