$color-black: #000000;
$color-gray: #777777;
$color-gray-light: #B2B2B2;
$color-light-gray: #F9F9F9;
$color-white: #ffffff;

$color-red: #FF4B2B;
$color-orange: #FF8A47;
$color-cyan: #8CEEEE;
$color-green: #56AB2F;
$color-blue: #26BFBF;
$color-yellow: #FFD747;
$color-light-red: #FFDCDC;
$color-light-green: #E6F4DC;

$color-gradient-red: linear-gradient(to top right, $color-red,#FC6170);
$color-gradient-green: linear-gradient(to top right, $color-green, #A8E063);
$color-gradient-blue: linear-gradient(to top right, $color-blue, #8CEEEE);
